body {
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
}

#game {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px auto;
  background: url("space.jpg") no-repeat center / cover;
  overflow: hidden;
  border: 2px solid white;
}

/* РАКЕТА */
#player {
  position: absolute;
  bottom: 10px;
  left: 130px;
  width: 40px;
  height: 40px;
  background: url("rocket.png") no-repeat center / contain;
}

/* АСТЕРОИД */
.block {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("asteroid.png") no-repeat center / contain;
}

/* ВЗРЫВ */
.explosion {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("explosion.png") no-repeat center / contain;
}

#controls button {
  font-size: 24px;
  margin: 10px;
}

#restartBtn {
  display: none;
  margin-top: 10px;
}
