body {
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
}

#game {
  width: 300px;
  height: 400px;
  background: url(space.png);
  position: relative;
  overflow: hidden;
}

#player {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
}

.block {
  width: 40px;
  height: 40px;
  position: absolute;
}

/* ВЗРЫВ */
.explosion {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("explosion.png") no-repeat center / contain;
}

#controls button {
  font-size: 24px;
  margin: 10px;
}

#restartBtn {
  display: none;
  margin-top: 10px;
}
